<h2>User Profile</h2>

<p><strong>Name:</strong> @ViewBag.FullName</p>
<p><strong>Username:</strong> @ViewBag.Username</p>

<a class="btn btn-primary" href="/Course/Index">View Courses</a>
<a class="btn btn-warning" href="/StudentCourse/Index">My Enrollments</a>
