@model List<Teacher>

<h2>Teachers</h2>

<a class="btn btn-success" href="/Teacher/Create">Add Teacher</a>

<table class="table table-bordered mt-3">
    <tr>
        <th>FName</th>
        <th>LName</th>
        <th>Actions</th>
    </tr>

@foreach (var t in Model)
{
    <tr>
        <td>@t.FirstName</td>
        <td>@t.LastName</td>
        <td>
            <a class="btn btn-primary btn-sm" href="/Teacher/Edit/@t.Id">Edit</a>
            <a class="btn btn-danger btn-sm" href="/Teacher/Delete/@t.Id">Delete</a>
        </td>
    </tr>
}
</table>
