<h2>Admin Panel</h2>

<a class="btn btn-dark" href="/Teacher/Index">Manage Teachers</a>
<a class="btn btn-dark" href="/Course/Index">Manage Courses</a>
<a class="btn btn-dark" href="/StudentCourse/Index">View Enrollments</a>
